ion-toolbar {
    --background: #f5f5f3;

    div {
        padding-top: 28px;
        padding-left: 20px;

        ion-button {
            width: 100px;
            text-transform: initial;

            p {
                font-size: 19px;
                letter-spacing: 3px;
                margin-top: 7px;
                margin-bottom: 7px;
            }
        }
    }

}

.profile-defauld-image{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

ion-content {
    --background: #f5f5f3;

    #header {
        margin-top: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h1 {
            margin-top: 10%;
            font-weight: 700;
            font-size: 34px;
            color: #2e2e2c;
            margin-bottom: 10%;
        }
    }

    #form-signup {
        padding: 6%;

        .error-message {
            color: #d32f2f;
            font-size: 0.85rem;
            margin: 6px 4px 0;
        }

        .password-feedback {
            font-size: 0.85rem;
            margin: 6px 4px 0;
            transition: color 0.2s ease-in-out;
        }

        .password-feedback.strength-error {
            color: #d32f2f;
        }


        div {
            margin-top: 40px;

            ion-button {
                --background: #2e2e2c;
                --background-hover: #c0c0c0;
                --background-activated: #5d6362;
                --background-focused: #6b2525;

                --color: #FFFFFF;
                --coloractive: #2e2e2c;
                font-size: 15px;
                font-weight: 700;
                height: 40px;

                --border-radius: 10px;
                --border-color: transparent;

                --box-shadow: 1px 8px 6px 0 rgb(0, 0, 0, 0.25);

                --ripple-color: rgb(117, 114, 114);

                --padding-top: 10px;
                --padding-bottom: 10px;
            }
        }
    }
}