// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
:root {
  --color-TitleCard-dark: #ffffff;
  --color-Card-dark: #505050;
  --color-Text-dark: #ffffff;
  --color-Background-dark: #252525;

  --color-TitleCard-light: #000000;
  --color-Card-light: #ffffff;
  --color-Text-light: #313131;
  --color-Background-light: #ffffff;
}