
// .my-custom-swiper{
//   margin-bottom: 0px;
//   height: 85%;
// }         

.slide-content {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  color: white;
  padding: 20px;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  ion-card-title{
    margin-top: 10px;
    font-size: 2em; 
    font-weight: bold;
  }

}

.title-card {
  font-size: 2em; 
  font-weight: bold;
}



.slide-image {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin: 0px;

}
